* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Центрирование по вертикали */
}

.main-container {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
}


.left-content {
    width: 500px;
    margin-right: 30px;
}

.left-content img {
    height: 106px;
    margin-left: -20px;
}

.left-content h2 {
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
}

/* вход */
.login-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

input {
    width: 100%;
    height: 52px;
    margin-bottom: 12px;
    padding: 14px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 17px;
}

input:focus {
    outline: none;
    border-color: #1877f2;
}

.login-btn {
    width: 100%;
    height: 48px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.forgot-password {
    display: block;
    margin: 15px 0;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

hr {
    border: 0.5px solid #dadde1;
    margin-bottom: 20px;
}

.create-account-btn {
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 0 16px;
    height: 48px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.bottom-text {
    margin-top: 25px;
    font-size: 14px;
    text-align: center;
}
.logo-text {
    color: #1877f2;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-left: -5px;
}