body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.navbar {
    background: black;
    color: gray;
    padding: 12px 20px;
    font-size: 18px;
}


.main {
    width: 500px;
    margin: 40px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-weight: normal;
    text-align: left;
}


.input-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addBtn {
    background-color: #2d6ca2;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

#addBtn:hover {
    background-color: #1f4f78;
}


.list-container {
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.delete {
    color: red;
    cursor: pointer;
    font-size: 18px;
}

.delete:hover {
    color: darkred;
}